{% extends 'base.html' %}


{% block content %}
<h1>GoodBoi List</h1>


{% for gbz in gb %}
<div class="card">
    <a href="/goodboiz/{{ gbz.id }}">
    <div class="card-content">
        <span class="card-title">{{ gbz.name }}</span>
        <p>Breed: {{ gbz.breed }}</p>
        <p>Description: {{ gbz.description }}</p>

        {% if gbz.age > 0 %}
        <p>Age: {{ gbz.age }}</p>
        {% else %}
        <p>Age: baby</p>

        {% endif %}

    </div>
    </a>
</div>
{% endfor %}


{% endblock content %}